.App {
  margin-top: 1em;
  justify-content: center;
  text-align: center;
}
input {
  margin-bottom: 1em;
  border: 1.5px solid rgba(44, 187, 99, 0.704);
  font-size: 20px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
}
.row {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  justify-content: center;
  margin-bottom: 8px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:  rgba(44, 187, 99, 0.098);
  padding: 20px;
  font-size: 18px;
}
nav{
  margin: auto;
}
.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}
ul{
  padding-left: 0px;
}
.nav__links li a {
  transition: all 0.3s ease 0s;
}
