.App {
  margin-top: 1em;
  justify-content: center;
  text-align: center;
 
}
input{
  margin-bottom: 1em;
  border: 1px solid black;
  border-radius: 15px;
}
.row{
  display: grid;
    grid-template-columns: 180px 180px 180px 180px 180px 180px;
    justify-content: center;
    margin-bottom: 8px;
}
